Repository bounswe/bounswe2023group7, pull requests merged in 2023-11, with the labels that each got.

#408 Create m1_group7.md
  reports/m1_group7.md
Labels: type : documentation, priority : high, status : need_review, effort : high, milestone

#437 Update lab_report_5.md
  reports/lab_report_5.md
Labels: type : documentation, priority : urgent, status : need_review, effort : low, group work

#442 added new fields to the user entity
  ludos/backend/src/entities/user.entity.ts
  ludos/backend/src/enums/user-type.enum.ts
Labels: priority : high, team: backend

#438 Feature/fe/320/forgot password
  ludos/frontend/src/App.js
  ludos/frontend/src/pages/ForgotPasswordPage.js
  ludos/frontend/src/pages/LoginPage.js
  ludos/frontend/src/pages/SignupPage.js
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#444 feature/MB/414/forgot_password
  ludos/mobile/lib/activation_for_password_reset.dart
  ludos/mobile/lib/forgot_password.dart
  ludos/mobile/lib/helper/APIService.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, milestone, team: mobile

#445 added game list endpoint
  ludos/backend/package-lock.json
  ludos/backend/package.json
  ludos/backend/src/controllers/game.controller.ts
  ludos/backend/src/dtos/common/response/pagination-meta.dto.ts
  ludos/backend/src/dtos/game/response/list.response.ts
  ludos/backend/src/dtos/game/response/page.response.ts
  ludos/backend/src/interceptors/customSerializer.interceptor.ts
  ludos/backend/src/repositories/game.repository.ts
  ludos/backend/src/services/game.service.ts
  ludos/backend/test/game.controller.spec.ts
Labels: priority : high, team: backend

#447 Feature/fe/431/create a game
  ludos/frontend/package-lock.json
  ludos/frontend/package.json
  ludos/frontend/src/App.js
  ludos/frontend/src/components/CreateGameForum.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/pages/CreateGamePage.js
Labels: type : development, priority : high, status : need_review, team: frontend

#440 feature/MB/417/create_game_page
  ludos/mobile/lib/create_game.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/helper/colors.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: type : development, priority : high, status : need_review, effort : high, milestone, team: mobile

#452 Feature/fe/429/header revision
  ludos/frontend/src/assets/my_games.png
  ludos/frontend/src/assets/my_groups.png
  ludos/frontend/src/components/header.js
Labels: type : enhancement, priority : moderate, status : need_review, effort : moderate, team: frontend

#453 feature/FE/434/change-password
  ludos/frontend/src/App.js
  ludos/frontend/src/pages/ChangePasswordPage.js
  ludos/frontend/src/pages/ForgotPasswordPage.js
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#451 Feature/mb/313/custom-widget-and-games-page
  ludos/mobile/lib/game_page_widget.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
  ludos/mobile/lib/reusable_widgets/single_rating_icon.dart
Labels: priority : urgent, status : need_review, milestone, team: mobile

#457 Create lab_report_6.md
  reports/lab_report_6.md
Labels: priority : high, status : need_review, effort : moderate, meeting, group work

#465 Feature/mb/416/game page
  ludos/mobile/assets/images/header_gow.jpg
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: priority : high, status : need_review, effort : high, team: mobile

#480 Update lab_report_6.md
  reports/lab_report_6.md
Labels: type : documentation, priority : urgent, status : need_review, group work

#441 feature/BE/415/get-user-info
  ludos/backend/src/controllers/user.controller.ts
  ludos/backend/src/dtos/user/request/get-user-info.dto.ts
  ludos/backend/src/dtos/user/response/get-user-info-response.dto.ts
  ludos/backend/src/repositories/user.repository.ts
  ludos/backend/src/services/game.service.ts
  ludos/backend/src/services/user.service.ts
Labels: type : development, status : new, effort : moderate, team: backend

#470 feature/MB/459/show_hide_password
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/sign_up_page.dart
Labels: type : development, priority : low, status : completed, effort : moderate, team: mobile

#490 feature/482/BE/review-entity-and-create-flow
  ludos/backend/src/app.module.ts
  ludos/backend/src/controllers/review.controller.ts
  ludos/backend/src/dtos/game/response/get.response.ts
  ludos/backend/src/dtos/review/request/create.dto.ts
  ludos/backend/src/dtos/review/request/edit.dto.ts
  ludos/backend/src/dtos/review/response/create.dto.ts
  ludos/backend/src/dtos/review/response/edit.dto.ts
  ludos/backend/src/entities/game.entity.ts
  ludos/backend/src/entities/review.entity.ts
  ludos/backend/src/entities/user.entity.ts
  ludos/backend/src/repositories/review.repository.ts
  ludos/backend/src/services/config/typeorm-config.service.ts
  ludos/backend/src/services/review.service.ts
Labels: type : development, priority : high, status : need_review, effort : high, team: backend

#484 feature/MB/460/create_game_page
  ludos/mobile/assets/images/default_game.jpg
  ludos/mobile/lib/create_game.dart
  ludos/mobile/lib/create_game_second.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#493 #466 tokenization for mobile app
  ludos/mobile/lib/create_game.dart
  ludos/mobile/lib/create_game_second.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/main.dart
Labels: type : enhancement, priority : high, status : need_review, effort : moderate, milestone, team: mobile

#495 Feature/fe/473 475/forums page sidebar
  ludos/frontend/src/App.js
  ludos/frontend/src/assets/forumBackground.png
  ludos/frontend/src/components/ForumTopic.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/pages/ForumsPage.js
Labels: type : development, priority : high, status : need_review, effort : high, team: frontend

#491 Feature/be/478/comment
  ludos/backend/src/app.module.ts
  ludos/backend/src/controllers/comment.controller.ts
  ludos/backend/src/dtos/comment/request/edit-comment.dto.ts
  ludos/backend/src/dtos/comment/request/write-comment.dto.ts
  ludos/backend/src/dtos/comment/response/get-comment.response.dto.ts
  ludos/backend/src/entities/comment.entity.ts
  ludos/backend/src/repositories/comment.repository.ts
  ludos/backend/src/services/comment.service.ts
  ludos/backend/src/services/config/typeorm-config.service.ts
Labels: type : development, priority : moderate, effort : moderate, team: backend

#492 added follow info for game list
  ludos/backend/src/controllers/game.controller.ts
  ludos/backend/src/dtos/game/response/list.response.ts
  ludos/backend/src/repositories/game.repository.ts
  ludos/backend/src/services/game.service.ts
  ludos/backend/test/game.controller.spec.ts
Labels: priority : high, status : need_review

#500 Android App Icon Update
  ludos/mobile/android/app/src/main/AndroidManifest.xml
  ludos/mobile/android/app/src/main/ludos_logos-playstore.png
  ludos/mobile/android/app/src/main/res/mipmap-anydpi-v26/ludos_logos.xml
  ludos/mobile/android/app/src/main/res/mipmap-anydpi-v26/ludos_logos_round.xml
  ludos/mobile/android/app/src/main/res/mipmap-hdpi/ludos_logos.webp
  ludos/mobile/android/app/src/main/res/mipmap-hdpi/ludos_logos_foreground.webp
  ludos/mobile/android/app/src/main/res/mipmap-hdpi/ludos_logos_round.webp
  ludos/mobile/android/app/src/main/res/mipmap-mdpi/ludos_logos.webp
  ludos/mobile/android/app/src/main/res/mipmap-mdpi/ludos_logos_foreground.webp
  ludos/mobile/android/app/src/main/res/mipmap-mdpi/ludos_logos_round.webp
  ludos/mobile/android/app/src/main/res/mipmap-xhdpi/ludos_logos.webp
  ludos/mobile/android/app/src/main/res/mipmap-xhdpi/ludos_logos_foreground.webp
  ludos/mobile/android/app/src/main/res/mipmap-xhdpi/ludos_logos_round.webp
  ludos/mobile/android/app/src/main/res/mipmap-xxhdpi/ludos_logos.webp
  ludos/mobile/android/app/src/main/res/mipmap-xxhdpi/ludos_logos_foreground.webp
  ludos/mobile/android/app/src/main/res/mipmap-xxhdpi/ludos_logos_round.webp
  ludos/mobile/android/app/src/main/res/mipmap-xxxhdpi/ludos_logos.webp
  ludos/mobile/android/app/src/main/res/mipmap-xxxhdpi/ludos_logos_foreground.webp
  ludos/mobile/android/app/src/main/res/mipmap-xxxhdpi/ludos_logos_round.webp
  ludos/mobile/android/app/src/main/res/values/ludos_logos_background.xml
Labels: type : design, type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#541 Create lab_report_7.md
  reports/lab_report_7.md
Labels: type : documentation, priority : urgent, status : need_review, effort : low

#515 #424 follow/unfollow game endpoint connection
  ludos/mobile/lib/create_game.dart
  ludos/mobile/lib/create_game_second.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
Labels: type : enhancement, priority : moderate, status : need_review, effort : moderate, milestone, team: mobile

#539 Changed the create game button in games page
  ludos/mobile/lib/create_game.dart
  ludos/mobile/lib/create_game_second.dart
  ludos/mobile/lib/games_page.dart
Labels: type : development, priority : low, status : need_review, effort : low, team: mobile

#516 creating game makes the game page automatically
  ludos/frontend/src/App.js
Labels: type : development, priority : high, status : need_review, effort : moderate, team: frontend

#547 creating get user info by id
  ludos/backend/src/controllers/user.controller.ts
  ludos/backend/src/services/user.service.ts
Labels: type : development, effort : moderate, team: backend

#550 bug fixed
  ludos/frontend/src/pages/GamePage.js
Labels: bug, effort : low

#497 Feature/fe/476/create post
  ludos/frontend/package-lock.json
  ludos/frontend/package.json
  ludos/frontend/src/App.js
  ludos/frontend/src/components/CreateThreadForm.js
  ludos/frontend/src/pages/CreateThreadPage.js
Labels: type : development, priority : moderate, status : need_review, status : on_hold, effort : moderate, team: frontend

#552 revisioned s3 upload
  ludos/backend/src/controllers/review.controller.ts
  ludos/backend/src/controllers/s3.controller.ts
  ludos/backend/src/controllers/user.controller.ts
  ludos/backend/src/dtos/review/response/getInfo.dto.ts
  ludos/backend/src/entities/game.entity.ts
  ludos/backend/src/repositories/game.repository.ts
  ludos/backend/src/repositories/rating.repository.ts
  ludos/backend/src/repositories/review.repository.ts
  ludos/backend/src/services/review.service.ts
  ludos/backend/src/services/s3.service.ts
  ludos/backend/src/services/user.service.ts
  ludos/backend/test/game.controller.spec.ts
Labels: status : need_review, team: backend

#558 add edit game by id endpoint
  ludos/backend/src/controllers/game.controller.ts
  ludos/backend/src/dtos/game/request/edit.dto.ts
  ludos/backend/src/services/game.service.ts
Labels: type : development, priority : high, status : need_review, effort : moderate, team: backend

#560 added entity feature
  ludos/backend/src/app.module.ts
  ludos/backend/src/controllers/app.controller.ts
  ludos/backend/src/controllers/entity.controller.ts
  ludos/backend/src/controllers/game.controller.ts
  ludos/backend/src/controllers/post.controller.ts
  ludos/backend/src/controllers/search.controller.ts
  ludos/backend/src/dtos/completion-duration/request/create-update.dto.ts
  ludos/backend/src/dtos/entity/request/create.dto.ts
  ludos/backend/src/dtos/entity/request/update.dto.ts
  ludos/backend/src/dtos/entity/response/get.response.dto.ts
  ludos/backend/src/dtos/entity/response/list.response.dto.ts
  ludos/backend/src/dtos/game/response/get.response.ts
  ludos/backend/src/dtos/game/response/list.response.ts
  ludos/backend/src/dtos/post/response/get.response.dto.ts
  ludos/backend/src/dtos/search/response/search.response.dto.ts
  ludos/backend/src/dtos/user/response/get-user-info-response.dto.ts
  ludos/backend/src/entities/completion-duration.entity.ts
  ludos/backend/src/entities/entity.entity.ts
  ludos/backend/src/entities/game.entity.ts
  ludos/backend/src/entities/user.entity.ts
  ludos/backend/src/enums/entity-type.enum.ts
  ludos/backend/src/repositories/completion-duration.repository.ts
  ludos/backend/src/repositories/entity.repository.ts
  ludos/backend/src/repositories/game.repository.ts
  ludos/backend/src/repositories/user.repository.ts
  ludos/backend/src/services/app.service.ts
  ludos/backend/src/services/config/typeorm-config.service.ts
  ludos/backend/src/services/entity.service.ts
  ludos/backend/src/services/game.service.ts
  ludos/backend/src/services/post.service.ts
  ludos/backend/src/services/s3.service.ts
  ludos/backend/src/services/search.service.ts
  ludos/backend/src/services/user.service.ts
  ludos/backend/test/app.controller.spec.ts
  ludos/backend/test/game.controller.spec.ts
Labels: status : need_review, team: backend

#557 Added a section to Forums Page for creating thread
  ludos/frontend/src/pages/CreateThreadPage.js
  ludos/frontend/src/pages/ForumsPage.js
  ludos/frontend/src/pages/LoginPage.js
Labels: type : development, priority : moderate, status : need_review, effort : low, team: frontend

#553 #529 Updated visibility of both games page and create games pages to unlogged user.
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/main.dart
Labels: type : development, priority : moderate, status : need_review, effort : low, team: mobile

#564 revision of review get review by id and by game id flows
  ludos/backend/src/controllers/review.controller.ts
  ludos/backend/src/dtos/review/response/getInfo.dto.ts
  ludos/backend/src/services/review.service.ts
Labels: priority : high, status : need_review

#563 Unavailable photos
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#561 Create Forum Page
  ludos/mobile/lib/create_thread_page.dart
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/forum_thread.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
  ludos/mobile/lib/thread_page.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: type : design, type : development, priority : urgent, status : need_review, effort : high, team: mobile

#554 Feature/fe/506/show hide password
  ludos/frontend/src/pages/ChangePasswordPage.js
  ludos/frontend/src/pages/ForgotPasswordPage.js
  ludos/frontend/src/pages/LoginPage.js
  ludos/frontend/src/pages/SignupPage.js
Labels: type : development, priority : low, status : need_review, effort : low, team: frontend

#567 Scrollable tags and platforms
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#572 Changed material ui to mui
  ludos/frontend/src/components/GroupTopic.js
  ludos/frontend/src/components/TrendingGamesSlider.js
  ludos/frontend/src/pages/Homepage.js
Labels: bug

#574 Feature/573/be/new fields to review get info response dto
  ludos/backend/src/dtos/review/response/getInfo.dto.ts
  ludos/backend/src/services/review.service.ts
Labels: priority : high, status : need_review, effort : low, team: backend

#576 Drawer and Game Properties Page
  ludos/mobile/lib/create_game_second.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/game_properties.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#577 Added Comments to the Forum
  ludos/mobile/lib/create_thread_page.dart
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/reusable_widgets/forum_thread.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : design, type : development, priority : high, status : need_review, effort : high, team: mobile

#569 Added Game Reviews
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/game_reviews_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/reusable_widgets/game_review.dart
Labels: type : design, type : development, priority : high, status : need_review, effort : high, team: mobile

#580 Changed age, tag, platform fields of create game page
  ludos/mobile/lib/create_game.dart
  ludos/mobile/lib/create_game_second.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#583 Arranged tags/platforms & enhanced components
  ludos/frontend/src/components/CreateGameForum.js
  ludos/frontend/src/components/ThreadComponent.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/pages/Homepage.js
  ludos/frontend/src/pages/ThreadPage.js
Labels: type : enhancement, type : development, priority : high, status : need_review, effort : low, team: frontend

#581 Edit game pages
  ludos/mobile/lib/edit_game.dart
  ludos/mobile/lib/edit_game_second.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#582 Reorganized the Home Page
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/home_game_sum.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : design, type : development, priority : high, status : need_review, effort : high

#588 Added Search to the Forum
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/helper/APIService.dart
Labels: type : design, type : development, priority : high, status : need_review, effort : moderate, team: mobile

#589 Changed the App Name
  ludos/mobile/android/app/src/main/AndroidManifest.xml
Labels: type : design, priority : low, status : need_review, effort : low, team: mobile

#578 #469 mobile-user-profile-page
  ludos/mobile/assets/images/Epic-Games-Emblem.png
  ludos/mobile/assets/images/ealogo800.jpg
  ludos/mobile/assets/images/steam-logo-black-transparent.png
  ludos/mobile/ios/Flutter/Debug.xcconfig
  ludos/mobile/ios/Flutter/Release.xcconfig
  ludos/mobile/ios/Podfile
  ludos/mobile/lib/edit_game_second.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/forum_thread.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
  ludos/mobile/lib/reusable_widgets/home_game_sum.dart
  ludos/mobile/lib/thread_page.dart
  ludos/mobile/lib/user_profile_page.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: type : enhancement, priority : high, status : need_review, effort : high, milestone, team: mobile

#601 Feature/fe/471/games page
  ludos/frontend/src/App.js
  ludos/frontend/src/components/SuggestedGame.js
  ludos/frontend/src/components/TrendingGames.js
  ludos/frontend/src/pages/GamesPage.js
Labels: type : design, type : development, priority : high, status : need_review, effort : high, milestone, team: frontend

#599 Edit Profile Page
  ludos/mobile/lib/edit_profile_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/user_profile_page.dart
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#604 Changed the average rating and game story
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
  ludos/mobile/lib/reusable_widgets/home_game_sum.dart
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#606 Create Entity page is implemented
  ludos/mobile/lib/create_entity.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/helper/EntityContent.dart
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#608 completed enhancements and fixed bugs
  ludos/frontend/src/components/CreateGameForum.js
  ludos/frontend/src/components/CreateThreadForm.js
  ludos/frontend/src/components/ForumTopic.js
  ludos/frontend/src/components/GroupTopic.js
  ludos/frontend/src/components/ThreadComponent.js
  ludos/frontend/src/pages/ForumsPage.js
  ludos/frontend/src/pages/GamesPage.js
  ludos/frontend/src/pages/Homepage.js
  ludos/frontend/src/pages/ProfilePage.js
  ludos/frontend/src/pages/ThreadPage.js
Labels: bug, type : enhancement, type : development, priority : urgent, status : need_review, effort : moderate, team: frontend

#610 Update README.md with the new .apk Link
  ludos/README.md
  ludos/mobile/README.md
Labels: type : development, priority : urgent, status : need_review, effort : moderate, milestone, team: mobile

#614 Version Update README.md
  ludos/README.md
Labels: type : documentation, priority : urgent, status : need_review, effort : low
