Repository bounswe/bounswe2023group7, pull requests merged in 2023-12, with the labels that each got.

#630 Create m2_group7.md
  reports/m2_group7.md
Labels: type : documentation, priority : urgent, status : need_review, effort : high, milestone

#634 Feature/fe/505/create entity page
  ludos/frontend/src/App.js
  ludos/frontend/src/components/CreateEntityForm.js
  ludos/frontend/src/pages/CreateEntityPage.js
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#665 #664 created customized bottom navigation bar
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/game_reviews_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/custom_navigation_bar.dart
  ludos/mobile/lib/search_game.dart
  ludos/mobile/lib/search_page.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#666 Refactoring SnackBars
  ludos/mobile/lib/activation_for_password_reset.dart
  ludos/mobile/lib/create_entity.dart
  ludos/mobile/lib/create_game_second.dart
  ludos/mobile/lib/create_thread_page.dart
  ludos/mobile/lib/edit_game_second.dart
  ludos/mobile/lib/forgot_password.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/custom_widgets.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/reusable_widgets/forum_thread.dart
  ludos/mobile/lib/search_game.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#669 Entity properties section
  ludos/mobile/lib/create_entity.dart
  ludos/mobile/lib/helper/APIService.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#663 Implemented search forums/changed eslint options
  ludos/frontend/.eslintrc.js
  ludos/frontend/src/pages/ForumsPage.js
Labels: type : enhancement, type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#671 Entities and Entity page
  ludos/mobile/lib/entities_page.dart
  ludos/mobile/lib/entity_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/reusable_widgets/entity_summary.dart
Labels: type : design, type : development, priority : moderate, status : need_review, effort : high, team: mobile

#672 Edit/Delete for Thread and Comment
  ludos/mobile/lib/edit_thread_page.dart
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/reusable_widgets/custom_widgets.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#675 get comment response has isliked isdisliked fields for the user
  ludos/backend/src/dtos/comment/response/get-comment.response.dto.ts
  ludos/backend/src/services/comment.service.ts
Labels: type : development, priority : high, effort : low, team: backend

#676 Feature/be/636/group
  ludos/backend/src/app.module.ts
  ludos/backend/src/controllers/group.controller.ts
  ludos/backend/src/controllers/post.controller.ts
  ludos/backend/src/dtos/group/request/create.dto.ts
  ludos/backend/src/dtos/group/request/update.dto.ts
  ludos/backend/src/dtos/group/response/create.response.dto.ts
  ludos/backend/src/dtos/group/response/get.response.dto.ts
  ludos/backend/src/dtos/group/response/list.response.dto.ts
  ludos/backend/src/dtos/group/response/page.response.dto.ts
  ludos/backend/src/dtos/post/request/create.dto.ts
  ludos/backend/src/dtos/post/response/get.response.dto.ts
  ludos/backend/src/dtos/post/response/list.response.dto.ts
  ludos/backend/src/entities/group.entity.ts
  ludos/backend/src/entities/post.entity.ts
  ludos/backend/src/entities/user.entity.ts
  ludos/backend/src/repositories/group.repository.ts
  ludos/backend/src/repositories/post.repository.ts
  ludos/backend/src/services/comment.service.ts
  ludos/backend/src/services/config/typeorm-config.service.ts
  ludos/backend/src/services/group.service.ts
  ludos/backend/src/services/post.service.ts
Labels: status : need_review, team: backend

#670 Feature/fe/473 475/forums page sidebar
  ludos/frontend/src/components/ForumTopic.js
  ludos/frontend/src/pages/ForumsPage.js
  ludos/frontend/src/pages/ThreadPage.js
Labels: type : enhancement, type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#677 Games part in the mobile search page
  ludos/mobile/lib/helper/colors.dart
  ludos/mobile/lib/reusable_widgets/custom_navigation_bar.dart
  ludos/mobile/lib/search_page.dart
  ludos/mobile/lib/search_page_game.dart
Labels: priority : urgent, status : need_review, effort : moderate, team: mobile

#679 Selectable text and annotation button
  ludos/mobile/lib/entity_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/game_reviews_page.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : enhancement, type : development, priority : moderate, status : completed, effort : moderate, team: mobile

#682 user search on mobile search page
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/reusable_widgets/user_summary.dart
  ludos/mobile/lib/search_page.dart
  ludos/mobile/lib/search_page_game.dart
  ludos/mobile/lib/search_page_user.dart
Labels: type : enhancement, priority : urgent, status : need_review, effort : moderate, team: mobile

#681 MB/659-660-661
  ludos/mobile/lib/edit_profile_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/userProvider.dart
  ludos/mobile/lib/user_profile_page.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#724 Refactor GamePage and RelatedGamesTab components
  ludos/frontend/src/components/GameCard.js
  ludos/frontend/src/components/RelatedGamesTab.js
  ludos/frontend/src/pages/GamePage.js
  ludos/frontend/src/pages/GamesPage.js
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#721 Feature/fe/709 711 713/trending topics create menu pp revision
  ludos/frontend/src/assets/developer.png
  ludos/frontend/src/assets/esportplayer.png
  ludos/frontend/src/assets/gamer.png
  ludos/frontend/src/components/ForumTopic.js
  ludos/frontend/src/components/Header.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/pages/ForumsPage.js
  ludos/frontend/src/pages/Homepage.js
  ludos/frontend/src/pages/ProfilePage.js
Labels: type : enhancement, type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#680 Added default properties such as Image Link and Description
  ludos/frontend/src/components/CreateEntityForm.js
Labels: type : enhancement, type : development, priority : moderate, status : need_review, effort : low, team: frontend

#723 Drawer Photo Bug
  ludos/mobile/lib/main.dart
  ludos/mobile/pubspec.lock
Labels: bug, type : development, priority : high, status : need_review, effort : low, team: mobile

#725 #690 detailed game search implemented.
  ludos/mobile/lib/detailed_game_search.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/custom_navigation_bar.dart
  ludos/mobile/lib/search_landing_page.dart
  ludos/mobile/lib/search_page.dart
  ludos/mobile/lib/search_page_game.dart
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#729 Refactor search functionality and add autocomplete feature
  ludos/frontend/src/components/CreateThreadForm.js
  ludos/frontend/src/components/Header.js
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#738 fixed thread image problem
  ludos/frontend/src/components/ThreadComponent.js
Labels: priority : moderate, status : need_review, effort : low, team: frontend

#733 Recommended Games for User
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/rec_games.dart
  ludos/mobile/lib/user_profile_page.dart
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#732 Recommended Games at Game Page
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/reusable_widgets/rec_games.dart
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#735 Info box for applying for different user types
  ludos/mobile/lib/user_profile_page.dart
Labels: type : enhancement, type : development, priority : moderate, status : need_review, effort : low, team: mobile

#719 added logo and createdAt fields to list and get endpoints for groups
  ludos/backend/src/dtos/group/response/get.response.dto.ts
  ludos/backend/src/dtos/group/response/list.response.dto.ts
Labels: status : need_review, team: backend

#731 Add image preview and remove functionality in CreateThreadForm.js
  ludos/frontend/src/components/CreateThreadForm.js
Labels: type : enhancement, type : design, priority : low, status : need_review, effort : low, team: frontend

#742 Updated default property names in CreateEntityForm.js
  ludos/frontend/src/components/CreateEntityForm.js
  ludos/frontend/src/pages/EntityPage.js
Labels: bug, type : development, priority : low, status : need_review, effort : low, team: frontend

#745 #744 merged users search into main search page - mobile app
  ludos/mobile/lib/detailed_post_search.dart
  ludos/mobile/lib/detailed_user_search.dart
  ludos/mobile/lib/reusable_widgets/custom_navigation_bar.dart
  ludos/mobile/lib/search_landing_page.dart
Labels: type : development, priority : urgent, status : need_review, effort : moderate, team: mobile

#736 #689 image scale problem for games resolved in the mobile app.
  ludos/mobile/lib/reusable_widgets/game_summary.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#684 Fixed Like Dislike Bug
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/game_reviews_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/reusable_widgets/forum_thread.dart
  ludos/mobile/lib/reusable_widgets/game_review.dart
  ludos/mobile/lib/reusable_widgets/like_dislike_button.dart
  ludos/mobile/lib/thread_page.dart
Labels: bug, type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#749 Feature/fe/650/group page
  ludos/frontend/src/App.js
  ludos/frontend/src/components/CreateGroupThreadForm.js
  ludos/frontend/src/components/EditGroupForm.js
  ludos/frontend/src/pages/GroupPage.js
Labels: type : development, priority : high, status : need_review, effort : high, team: frontend

#791 added group search
  ludos/backend/src/controllers/search.controller.ts
  ludos/backend/src/dtos/search/response/search.response.dto.ts
  ludos/backend/src/services/search.service.ts
Labels: status : need_review, team: backend

#789 Feature/fe/782/game bio annotation
  ludos/frontend/package-lock.json
  ludos/frontend/package.json
  ludos/frontend/src/pages/GamePage.js
  package-lock.json
Labels: type : development, priority : high, status : need_review, effort : moderate, team: frontend

#792 Feature/fe/756/home page suggested
  ludos/frontend/src/components/GroupTopic.js
  ludos/frontend/src/pages/Homepage.js
Labels: type : enhancement, type : development, priority : high, status : need_review, effort : low, team: frontend

#800 Refactor Header component to include group navigation
  ludos/frontend/src/components/Header.js
Labels: type : enhancement, type : development, priority : moderate, status : need_review, effort : low, team: frontend

#793 Feature/fe/761/footer
  ludos/frontend/src/components/Footer.js
  ludos/frontend/src/layout.js
Labels: type : development, priority : high, status : need_review, effort : low, team: frontend

#796 annotation is added and entity page is revised
  ludos/frontend/src/components/CreateEntityForm.js
  ludos/frontend/src/pages/EntityPage.js
Labels: type : development, priority : high, status : need_review, effort : moderate, team: frontend

#810 comment annotation created
  ludos/annotation/src/controllers/annotation.controller.ts
  ludos/annotation/src/repositories/annotation.repository.ts
  ludos/annotation/src/services/annotation.service.ts
  ludos/backend/src/controllers/annotation.controller.ts
  ludos/backend/src/services/annotation.service.ts
Labels: type : development, effort : moderate, team: backend

#743 Feature/mb/658/redirecting
  ludos/mobile/lib/change_password.dart
  ludos/mobile/lib/edit_profile_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/user_profile_page.dart
Labels: type : development, priority : moderate, status : need_review, effort : high, team: mobile

#777 #751 last activities implemented in user profile pages
  ludos/mobile/lib/detailed_game_search.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/helper/colors.dart
  ludos/mobile/lib/reusable_widgets/last_activity_summary.dart
  ludos/mobile/lib/search_page_post.dart
  ludos/mobile/lib/user_profile_page.dart
  ludos/mobile/lib/visit_user_page.dart
Labels: type : enhancement, priority : high, status : need_review, effort : moderate, team: mobile

#780 remove notifications button
  ludos/mobile/lib/main.dart
Labels: type : development, priority : low, status : need_review, effort : low, team: mobile

#816 Feature/be/815/image annotations
  ludos/annotation/src/controllers/annotation.controller.ts
  ludos/annotation/src/dtos/annotation/request/create.dto.ts
  ludos/annotation/src/entities/annotation.entity.ts
  ludos/annotation/src/services/annotation.service.ts
  ludos/backend/src/controllers/annotation.controller.ts
  ludos/backend/src/controllers/comment.controller.ts
  ludos/backend/src/controllers/review.controller.ts
  ludos/backend/src/controllers/user.controller.ts
  ludos/backend/src/dtos/annotation/request/create.dto.ts
  ludos/backend/src/dtos/post/request/create.dto.ts
  ludos/backend/src/dtos/post/upcomingTitle.dto.ts
  ludos/backend/src/repositories/post.repository.ts
  ludos/backend/src/services/annotation.service.ts
  ludos/backend/src/services/comment.service.ts
  ludos/backend/src/services/review.service.ts
  ludos/backend/src/services/search.service.ts
  ludos/backend/src/services/user.service.ts
Labels: status : need_review, team: backend

#813 added delete gamebio annotation
  ludos/frontend/src/pages/GamePage.js
Labels: type : development, priority : high, status : need_review, effort : low, team: frontend

#820 Add game trivia annotation functionality
  ludos/frontend/src/components/DescriptionTab.js
  ludos/frontend/src/components/RelatedGamesTab.js
  ludos/frontend/src/pages/GamePage.js
Labels: type : development, priority : high, status : need_review, effort : moderate, team: frontend

#819 Remove unused state variables and useEffect in GameCard.js
  ludos/frontend/src/components/GameCard.js
Labels: bug, priority : urgent, status : need_review, effort : low, team: frontend

#811 Feature/fe/779/annotation thread
  ludos/frontend/package-lock.json
  ludos/frontend/package.json
  ludos/frontend/src/components/CommentComponent.js
  ludos/frontend/src/components/GameCard.js
  ludos/frontend/src/components/ThreadComponent.js
  ludos/frontend/src/pages/ThreadPage.js
  package-lock.json
  package.json
Labels: type : development, priority : high, status : need_review, effort : high, team: frontend

#823 added upcoming titles and fixed game card with issues
  ludos/frontend/src/components/GameCard.js
  ludos/frontend/src/components/TrendingGames.js
  ludos/frontend/src/pages/GamesPage.js
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#827 BugFix: Reduced API Calls
  ludos/mobile/lib/change_password.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/game_reviews_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/custom_navigation_bar.dart
  ludos/mobile/lib/thread_page.dart
  ludos/mobile/lib/userProvider.dart
  ludos/mobile/lib/user_profile_page.dart
Labels: type : development, priority : urgent, status : need_review, effort : moderate, team: mobile

#784 Entity description object changed
  ludos/mobile/lib/entities_page.dart
  ludos/mobile/lib/entity_page.dart
  ludos/mobile/lib/helper/APIService.dart
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#831 bugfix search
  ludos/frontend/src/pages/GamesPage.js
Labels: bug, team: frontend

#829 added if check to set search key
  ludos/frontend/src/components/CreateThreadForm.js
  ludos/frontend/src/pages/CreateGroupPage.js
Labels: bug, priority : high, status : need_review, effort : low, team: frontend

#787 Feature/mb/685/annotation
  ludos/mobile/lib/entity_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/styledRange.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : enhancement, type : design, type : development, priority : high, status : need_review, effort : high, team: mobile

#781 User Company & Team
  ludos/mobile/lib/user_profile_page.dart
  ludos/mobile/lib/visit_user_page.dart
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#806 Bugfix: Average Rating & API Service logs
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/game_summary.dart
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: mobile

#812 Forum Revision
  ludos/mobile/lib/create_thread_page.dart
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/custom_widgets.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/reusable_widgets/forum_thread.dart
  ludos/mobile/lib/search_page_post.dart
  ludos/mobile/lib/thread_page.dart
Labels: type : design, type : development, priority : high, status : need_review, effort : moderate, team: mobile

#825 page refreshed after navigating
  ludos/frontend/src/components/CreateGameForum.js
Labels: type : development, priority : high, status : need_review, effort : low, team: frontend

#842 Changed backend request url
  .github/workflows/frontend-deploy.yml
Labels: type : development, priority : urgent, status : need_review, effort : low, team: frontend

#817 Feature/mb/753/upcoming titles
  ludos/mobile/lib/create_thread_page.dart
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/custom_navigation_bar.dart
  ludos/mobile/lib/reusable_widgets/forum_thread.dart
  ludos/mobile/lib/reusable_widgets/upcoming_title_post.dart
  ludos/mobile/lib/upcoming_title_thread_page.dart
  ludos/mobile/lib/upcoming_titles.dart
  ludos/mobile/lib/userProvider.dart
  ludos/mobile/pubspec.yaml
Labels: type : development, priority : high, status : need_review, effort : high, team: mobile

#848 image annotation bugfix
  ludos/frontend/src/components/ThreadComponent.js
Labels: bug, type : development, priority : urgent, status : need_review, effort : low, team: frontend

#846 bugfix-logout and edit thread page
  ludos/mobile/lib/activation_for_password_reset.dart
  ludos/mobile/lib/forgot_password.dart
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/games_page.dart
  ludos/mobile/lib/group/groups.dart
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reset_password.dart
  ludos/mobile/lib/reusable_widgets/custom_widgets.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/reusable_widgets/like_dislike_button.dart
  ludos/mobile/lib/search_game.dart
  ludos/mobile/lib/sign_up_page.dart
  ludos/mobile/lib/thread_page.dart
Labels: bug, type : development, priority : low, status : need_review, effort : low, team: mobile

#849 conflicts resolved
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/reusable_widgets/upcoming_title_post.dart
  ludos/mobile/lib/thread_page.dart
  ludos/mobile/lib/upcoming_title_thread_page.dart
Labels: bug, priority : high, status : need_review, effort : moderate, team: mobile

#835 Feature/be/824/semantic search
  ludos/backend/src/controllers/search.controller.ts
  ludos/backend/src/dtos/search/response/semantic-search.response.dto.ts
  ludos/backend/src/interfaces/semantic/response.interface.ts
  ludos/backend/src/services/config/typeorm-config.service.ts
  ludos/backend/src/services/search.service.ts
  ludos/semantic-search/.gitignore
  ludos/semantic-search/Dockerfile
  ludos/semantic-search/docker-compose.yml
  ludos/semantic-search/main.py
  ludos/semantic-search/requirements.txt
  ludos/semantic-search/semantic_search.py
Labels: status : need_review, team: backend

#852 Comment annotation added
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
Labels: type : enhancement, type : development, priority : high, status : need_review, effort : moderate, team: mobile

#847 #841 resolved last activities bug in mobile app
  ludos/mobile/lib/user_profile_page.dart
  ludos/mobile/lib/visit_user_page.dart
Labels: bug, priority : urgent, status : need_review, effort : moderate, team: mobile

#854 Feature/fe/843/trending games
  ludos/frontend/src/App.js
  ludos/frontend/src/components/TrendingGamesSlider.js
  ludos/frontend/src/pages/GamesPage.js
  ludos/frontend/src/pages/Homepage.js
Labels: type : enhancement, priority : urgent, status : need_review, effort : moderate, team: frontend

#853 Group Functionalities
  ludos/mobile/lib/game_page.dart
  ludos/mobile/lib/group/create_group.dart
  ludos/mobile/lib/group/create_group_thread.dart
  ludos/mobile/lib/group/group_forum.dart
  ludos/mobile/lib/group/group_page.dart
  ludos/mobile/lib/group/group_summary.dart
  ludos/mobile/lib/group/groups.dart
  ludos/mobile/lib/helper/APIService.dart
Labels: type : design, type : development, priority : urgent, status : need_review, effort : high, team: mobile

#859 Final Fixes
  ludos/mobile/lib/group/group_forum.dart
  ludos/mobile/lib/group/group_page.dart
  ludos/mobile/lib/group/group_summary.dart
  ludos/mobile/lib/group/groups.dart
Labels: priority : urgent, milestone

#861 Refactor handleDescriptionChange in CreateEntityForm.js
  ludos/frontend/src/components/CreateEntityForm.js
Labels: bug

#862 Final Fix in .apk File
  ludos/mobile/lib/forum_page.dart
  ludos/mobile/lib/group/group_forum.dart
  ludos/mobile/lib/group/groups.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/reusable_widgets/forum_comment.dart
  ludos/mobile/lib/search_page_post.dart
Labels: priority : urgent, status : need_review, effort : high, team: mobile

#864 HOTFIX: edit comment fixed
  ludos/frontend/src/components/CommentComponent.js
Labels: bug, type : development, priority : urgent, effort : low, team: frontend
