Repository bounswe/bounswe2023group7, pull requests merged in 2023-10, with the labels that each got.

#293 #273 Created Actions Pipeline for Frontend
  .github/workflows/frontend-deploy.yml
Labels: type : development, priority : moderate, status : need_review, effort : low, team: frontend

#325 #315 Implemented splash screen and added colors
  ludos/mobile/android/app/src/main/res/drawable-v21/launch_background.xml
  ludos/mobile/android/app/src/main/res/drawable/launch_background.xml
  ludos/mobile/android/app/src/main/res/mipmap-hdpi/ludos_transparent.png
  ludos/mobile/android/app/src/main/res/mipmap-mdpi/ludos_transparent.png
  ludos/mobile/android/app/src/main/res/mipmap-xhdpi/ludos_transparent.png
  ludos/mobile/android/app/src/main/res/mipmap-xxhdpi/ludos_transparent.png
  ludos/mobile/android/app/src/main/res/mipmap-xxxhdpi/ludos_transparent.png
  ludos/mobile/android/app/src/main/res/values/colors.xml
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#326 #312 started to implement forgot password page.
  ludos/mobile/lib/game_page_widget.dart
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/sign_up_page.dart
Labels: type : development, team: mobile

#329 Feature/fe/298/web sidebar
  .gitignore
  ludos/frontend/package-lock.json
  ludos/frontend/package.json
  ludos/frontend/src/App.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/layout.js
  package-lock.json
  package.json
Labels: type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#330 Layout structure changed
  ludos/frontend/src/App.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/layout.js
  ludos/frontend/src/pages/Homepage.js
  ludos/frontend/src/pages/landingPage.js
Labels: type : development, priority : moderate, status : need_review, effort : low, team: frontend

#327 Revision of Home Page
  ludos/mobile/lib/main.dart
Labels: type : development, priority : moderate, status : need_review, effort : low, team: mobile

#328 #312 forgot password pages
  ludos/mobile/lib/activation_for_password_reset.dart
  ludos/mobile/lib/forgot_password.dart
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/pages/taslak.dart
  ludos/mobile/lib/reset_password.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: type : enhancement, priority : high, team: mobile

#333 Added ESLint and Prettier for Code Quality and Formatting
  ludos/frontend/ .prettierignore
  ludos/frontend/.eslintrc.js
  ludos/frontend/.prettierrc.json
  ludos/frontend/.vscode/settings.json
  ludos/frontend/docker-compose.yml
  ludos/frontend/package-lock.json
  ludos/frontend/package.json
  ludos/frontend/public/index.html
  ludos/frontend/src/App.js
  ludos/frontend/src/App.test.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/index.css
  ludos/frontend/src/index.js
  ludos/frontend/src/layout.js
  ludos/frontend/src/pages/landingPage.js
  ludos/frontend/src/reportWebVitals.js
  ludos/frontend/src/setupTests.js
Labels: type : enhancement, type : development, priority : moderate, status : need_review, effort : moderate, team: frontend

#335 Organized version differences & initial header
  ludos/frontend/src/App.js
  ludos/frontend/src/assets/logo.png
  ludos/frontend/src/components/header.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/layout.js
Labels: bug, type : development, priority : high, status : need_review, effort : moderate, team: frontend

#339 Update README.md
  README.md
Labels: type : documentation, priority : low, status : need_review, effort : low

#337 Feature/fe/296/login page
  ludos/frontend/package-lock.json
  ludos/frontend/package.json
  ludos/frontend/src/App.js
  ludos/frontend/src/pages/LoginPage.js
Labels: type : development, priority : urgent, status : need_review, effort : moderate, team: frontend

#342 login page changes and api service implementation
  ludos/mobile/assets/images/ludos_transparent.png
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/helper/colors.dart
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/pubspec.yaml
Labels: type : development, priority : high, status : need_review, effort : high, milestone, team: mobile

#344 Feature/310/be/creating game endpoints
  ludos/backend/src/app.module.ts
  ludos/backend/src/controllers/game.controller.ts
  ludos/backend/src/dtos/game/request/create.dto.ts
  ludos/backend/src/dtos/game/response/create.response.ts
  ludos/backend/src/entities/game.entity.ts
  ludos/backend/src/repositories/game.repository.ts
  ludos/backend/src/repositories/user.repository.ts
  ludos/backend/src/services/config/typeorm-config.service.ts
  ludos/backend/src/services/game.service.ts
  ludos/backend/src/services/user.service.ts
Labels: status : need_review

#348 Feature/fe/297/signup page
  ludos/frontend/src/App.js
  ludos/frontend/src/components/SignIn.js
  ludos/frontend/src/pages/LoginPage.js
  ludos/frontend/src/pages/SignupPage.js
  package-lock.json
  package.json
Labels: type : design, type : development, priority : high, status : need_review, effort : high, milestone, team: frontend

#352 Feature/311/be/creating get game
  ludos/backend/src/controllers/game.controller.ts
  ludos/backend/src/repositories/game.repository.ts
  ludos/backend/src/services/game.service.ts
Labels: status : need_review

#345 feature/MB/302/mobile-signup
  ludos/mobile/lib/helper/APIService.dart
  ludos/mobile/lib/sign_up_page.dart
Labels: type : development, priority : high, status : need_review, effort : moderate, team: mobile

#353 Feature/fe/350/logout implementation
  ludos/frontend/src/components/header.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/pages/LoginPage.js
  ludos/frontend/src/pages/SignupPage.js
Labels: type : development, priority : high, status : need_review, effort : low, milestone, team: frontend

#346 Feature/mb/312/mobil forgot password
  ludos/mobile/lib/activation_for_password_reset.dart
  ludos/mobile/lib/forgot_password.dart
  ludos/mobile/lib/reset_password.dart
Labels: type : development, priority : urgent, status : need_review, team: mobile

#349 Feature/be/340/change password
  ludos/backend/src/controllers/user.controller.ts
  ludos/backend/src/dtos/user/request/change-password.dto.ts
  ludos/backend/src/dtos/user/response/change-password-response.dto.ts
  ludos/backend/src/repositories/user.repository.ts
  ludos/backend/src/services/user.service.ts
Labels: status : in_progress, effort : high

#357 #356 implemented sidebar in home page
  ludos/mobile/lib/login_page.dart
  ludos/mobile/lib/main.dart
  ludos/mobile/lib/sign_up_page.dart
  ludos/mobile/lib/userProvider.dart
  ludos/mobile/pubspec.lock
  ludos/mobile/pubspec.yaml
Labels: type : development, priority : high, status : in_progress, effort : moderate, milestone, team: mobile

#358 Update Home Page Colours
  ludos/mobile/lib/main.dart
Labels: priority : low, status : need_review, effort : low, team: mobile

#363 I fixed rerendering
  ludos/frontend/src/pages/LoginPage.js
  ludos/frontend/src/pages/SignupPage.js
Labels: bug, type : development, priority : low, status : need_review, effort : low, team: frontend

#367 Arranged home link
  ludos/frontend/src/App.js
  ludos/frontend/src/components/header.js
  ludos/frontend/src/components/sidebar.js
  ludos/frontend/src/pages/LoginPage.js
  ludos/frontend/src/pages/SignupPage.js
  ludos/frontend/src/pages/forumPage.js
Labels: type : enhancement, priority : low, status : new, effort : low, team: frontend

#368 Feature/mb/365/apk readme update
  ludos/mobile/README.md
  ludos/mobile/android/app/src/main/AndroidManifest.xml
Labels: type : documentation, type : development, priority : urgent, status : need_review, effort : moderate, milestone, team: mobile

#370 Updated readme for milestone 1
  ludos/frontend/README.md
Labels: type : documentation, priority : urgent, status : need_review, effort : low, milestone, team: frontend

#372 Create README.md for all of the project
  ludos/README.md
Labels: type : documentation, priority : high, status : need_review, effort : low, milestone
